# Environment Variables
.env
.env.*
!.env.example
!example.env

# Dependencies & Build Outputs
node_modules/
dist/
target/
*.class
*.jar
*.war

# IDE & System files
.idea/
.vscode/
*.swp
*.DS_Store
Thumbs.db
*.log
